.navbar.navbar-expand-lg.navbar-light {
	background:	#fff;
	color: white;
	border-bottom: 2px solid #00000080; 
}

.navbar.navbar-expand-lg.navbar-light.nofixed {
	background:	#fff;

}

.navbar.navbar-expand-lg.navbar-light.hidden.fixed {
	background:	#fff;
	position: sticky;
  	top: 0;
    transform: translateY(0);
    transition: transform 0.9s;
    z-index: 300;
}

.header {
	background-image: url('../img/Background_1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
}

.block-title {
	text-align: center;	
}

div.jumbotron.welcom {
	background-color: transparent;
	display: flex;
	flex-direction: column;
  	align-items: flex-start;
}

div.jumbotron.welcom.starting {
	color: blue;
	padding: 0px 32px 0px 32px;
	margin-top: auto;
	margin-bottom: 48px;
}

div.jumbotron.welcom > h1.display-4 {
	text-align: center;
	text-shadow: -0.1rem 0 white, 0 0.1rem white, 0.1rem 0 white, 0 -0.1rem white;
	color: black;
	align-self: stretch;
	}

div.jumbotron.welcom > p.lead {
	font-size: 2.0rem;
	text-shadow: -0.075rem 0 white, 0 0.075rem white, 0.075rem 0 white, 0 -0.075rem white;
	color: black;
	font-weight: 200;	
}

button.btn.btn-primary.btn-lg.started-lg {
	justify-content: flex-end;
}

button.btn.btn-primary.btn-lg.started-sm {
	border-radius: 0.0rem;
	font-size: 1.1rem;
	position: fixed;
	width: 100%;
	height: 3rem;
	top: calc(100% - 3rem);
}

div.col.card.course {
	width: 20rem;
	text-align: center;
	border: none;
	border-radius: 1.25rem;
	margin: 0.05rem 0;
	padding: 1rem;
}

div.col.card.course img{
	height: 100%;
	width: 100%;
	border-radius: 5%;
}

div.col.card.teacher {
	width: 20rem;
	text-align: center;
	border: none;
	border-radius: 1.25rem;
	margin: 0.05rem 0;
	padding: 1rem;
}

div.col.card.teacher img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

div.col.card.course p.card-text {
	min-height: 3rem;
}

div.col.card.course:hover {
	background-color: #000; 
    opacity: 0.8; 
 	transition-delay: 0.1s;
  	z-index: 100;
}

div.col.card.course:hover h5.card-title {
	color: white;
	transition-delay: 0.1s;
}

div.col.card.course:hover p.card-text {
	color: white;
	transition-delay: 0.1s;
	min-height: 3rem;
}

div.col.card.course:hover button.btn.btn-primary.btn-lg {
	background-color: white;
	border-color: white;
	transition-delay: 0.2s;
	color: #007bff;
}

div.col.card.course:hover img {
	z-index: 200;
}

div.card.teacher {
	width: 20rem
}

footer.bd-footer.text-muted {
	background-color: black;
	text-align: center;
}

div.col.card.contact {
	border: none;
	padding: 0px 0px 0px 0px;
	margin:	0px 0px 0px 0px;
}

div.col.card.contact > a {
	display: inline-block;
    height: 100%;   
}

div.col.card.contact div.card-header {
	background-color: #00000000;
	text-align: center;
}

div.col.card.contact p.card-text {
	text-align: center;
}

div.col.card.contact > i.fa, i.fas {
	font-size: 4.5rem;
	color: #00000080;

}

i.fab {
	font-size: 4.5rem;
	color: #00000080;
}

#contacts > div.card-deck {
	justify-content: space-between;
}

#contacts a {
	text-decoration: none !important;
	color: #212529;
}

.contact-popup {
	width: 150px;
	height: 20px;
	color: #007bff;
}

@media (max-width: 576px) {
	button.btn.btn-primary.btn-lg.started-lg {
		display: none;
	}
	footer.bd-footer.text-muted {
		margin-bottom: 3rem;
	}
	div.jumbotron.welcom > h1.display-4 {
		font-size: 2.5rem;
	}
	div.jumbotron.welcom > p.lead {
		font-size: 1.5rem;
		text-align: center;
	}
}

@media (min-width: 576px) {
	button.btn.btn-primary.btn-lg.started-sm {
		display: none;
	}
}