* {margin:0; padding:0;}

html {
  height: 100%;
}

header, menu, main, aside, footer {
	/*border:1px solid #ccc; padding:5px;*/
}


header {
	grid-area:header;
	display: flex; 
	justify-content: space-between;
	align-items: center;
	background: linear-gradient( rgba(120, 120, 120, 0.65), rgba(0, 0, 0, 0.5) ), url('../images/header-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;


	/*background-image: url(../images/header-1.jpg);
    background-size: cover;*/
}
menu {
	grid-area:menu;
	background-color: #ecf0f5;
}
main {
	grid-area:main;
	overflow: auto;

}
aside  {
	grid-area:aside;
	background-color: #333;

	
}
footer {
	grid-area:footer;
	background-color: #333;
}


body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	min-height: 100%;
	display:grid;
	grid-template-columns: minmax(100px, 150px) repeat(auto-fit, minmax(500px, 1fr));
	grid-template-rows: 1fr 1fr min(calc(100vh - 25vh)) 0.5fr;
	grid-gap: 0.1em;
	grid-template-areas:
	"header header"
	"aside menu"
	"aside main"
	"aside footer"; 
}

/*@media only screen and (max-width:750px) {
 .grid {
 grid-template-columns:100px auto auto auto 100px;
 grid-template-rows: 1fr;
 grid-template-areas: 
 "header"
 "menu"
 "main"
 "aside"
 "footer";
 } 
 */
 .aside-list {
 	
	line-height: 2;
	font-size: 15px;
	color: #aaa;
 }
 .aside-list>li>a {
 	text-decoration: none;
 	color: #aaa;
 }
 .aside-list>li>a:hover {
 	text-decoration: none;
 	color: #fff;
 	font-weight: bold;
 }
 
 .header-logo {
 	width: 75px;
 	float: left;
 }

 .header-app {	
 	color: white;
 	padding: 0 20px;
 }

 .header-user {
 	text-decoration: none;
 	padding: 10px;
 	margin-right: 30px;
 	color: white;
 	font-size: 20px;
 }

 .header-user>a:hover {
 	text-decoration: none;
 	font-weight: bold;
 }

 .event {
 	width: 100px;
 	height: 100px;
 	background: #fc0;
    border: 3px solid #fff;
    border-radius: 10%;
    text-align: center;
 }

.button-menu{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

 .button-menu button {
 	background-color:#2dabf9;
	border-radius:7px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	text-decoration:none;
	float: left;
	padding:10px 25px 10px 25px;
	margin: 0px 10px 0px 10px;

 }

 .button-menu button:hover {
 	background-color:#0688fa;
 }

.button-menu button:active {
 	position:relative;
	top:1px;
 } 